<h1>Find out if the sides make an equilateral, isosceles, or scalene triangles, or not a triangle.</h1>

<form action="/output">
  <div class="form-group">
    <label for="side1">Side1</label>
    <input type="text" name="side1" class="form-control">
  </div>
  <div class="form-group">
    <label for="side2">Side2</label>
    <input type="text" name="side2" class="form-control">
  </div>
  <div class="form-group">
    <label for="side3">Side3</label>
    <input type="text" name="side3" class="form-control">
  </div>
  <button type="submit" class="btn">Submit</button>
</form>
